.aside {
    height: 100vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    background: darkblue;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.title h1 {
    color: rgb(220, 239, 255);
    margin: 0;
}

.aside ul {
    color: rgb(220, 239, 255);
    width: 100%;
    margin: 0;
    padding: 0;
}

.aside ul li {
    list-style: none;
    margin: 12px 0;
    padding: 0;
    width: 100%;
}

.aside ul li a {
    display: flex;
    text-decoration: none;
    transition: all .25s ease-in-out;
    color: rgb(220, 239, 255);
    gap: 14px;
    height: 40px;
    width: 100%;
    border-radius: 16px;
    justify-content: flex-start;
    align-items: center;
    padding: 0 16px;
    box-sizing: border-box;
}

.aside ul li a:hover, .profileInfo:hover {
    background-color: rgba(220, 239, 255, 0.26);
}

.active {
    background: rgb(220, 239, 255);
    color: darkblue !important;
}

.active:hover {
    background: rgb(220, 239, 255) !important;
    color: darkblue !important;
}

.profileInfo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    color: white;
    box-sizing: border-box;
    transition: all .15s ease-in-out;
}

.profileInfo span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.profileInfo .letter {
    margin: 0;
    padding: 8px;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(220, 239, 255);
    color: darkblue;
    border-radius: 50%;
    font-size: 1rem;
    box-sizing: border-box;
}

@media (max-width: 620px) {
    .aside {
        position: fixed;
        bottom: 0;
        left: 0;
        top: auto;
        width: 100vw;
        height: 70px;
        padding: 0;
        display: flex;
        align-items: center;
        z-index: 999;
        padding: 0px 8px;
        border-top: 1px solid rgba(220, 239, 255, 0.15);
    }

    .title,
    .profileInfo {
        display: none;
    }

    .aside ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        height: 100%;
        width: 100%;
        align-items: center;
        padding: 8px 0;
        gap: 4px;
        box-sizing: border-box;
    }

    .aside ul li {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .aside ul li a {
        flex-direction: column;
        gap: 4px;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0;
        border-radius: 50px !important;
        font-size: 0.75rem;
        box-sizing: border-box;
    }

    .aside ul li a i {
        font-size: 1.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}